/.vscode

/Python programming 강의 PPT자료/
/py312/
/vbo/


# 모든 파일을 기본적으로 제외하지 않고, 빌드 결과물만 명확히 차단
*.exe
*.obj
*.o
*.pdb
*.ilk
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.slnx
*.spec

.vs/
x64/
Debug/
Release/
build/
dist/


#가상화부분 차단
.venv/
venv/
hsj/
inpusanstation-code/
.gitignore/
